<app-hero size="medium"
          color="dark"
          [title]="(article | async)?.title?.rendered"
          [background]="(article | async)?._embedded['wp:featuredmedia'][0].source_url"
          [centered]="true"
          [shadow]="true"></app-hero>
<div class="container section" [@slideUp]="(article | async) ? 'visible' : 'hidden'">
  <div class="columns">
    <div class="column is-8 is-offset-2 article" [innerHtml]="(article | async)?.content.rendered | sanitizeHtml" highlight-js-content=".highlight"></div>
  </div>
</div>
