::ng-deep {
  .article {
    .aligncenter {
      clear: both;
      display: block;
      margin: auto;
    }
    .source {
      font-family: "Source Code Pro", sans-serif;
    }
    .block {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    p {
      margin: 1rem auto;
    }
  }
}
