<div class="hover-wrapper">
  <div class="card">
    <div class="card-image">
      <!--<figure class="image is-4by3">-->
      <!--<img [alt]="title" #imageElement>-->
      <!--</figure>-->
      <div class="background"
           [ngStyle]="{'background-image': 'url(' + (image || 'assets/images/noimage.svg') + ')'}"
           [innerHtml]="embed ? (embed | sanitizeHtml) : ''"></div>
    </div>
    <div class="card-content">
      <div class="media">
        <!--<div class="media-left">-->
        <!--<figure class="image is-48x48">-->
        <!--<img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">-->
        <!--</figure>-->
        <!--</div>-->
        <div class="media-content">
          <p class="title is-4">{{title}}</p>
          <p class="subtitle is-6">{{subtitle}}</p>
        </div>
      </div>
      <div class="content">
        <div [innerHtml]="html ? (html | sanitizeHtml) : ''"></div>
        <p>
          {{body}}
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item"><time>{{date | date:'medium'}}</time></p>
    </footer>
  </div>
</div>

