<app-hero title="Biography"
          subtitle="自己紹介などなど"
          color="light"></app-hero>
<section class="section">
  <div class="text container">
    <figure class="image" style="margin: 0 2rem 1.5rem; text-align: center;">
      <img src="assets/images/biography/profile.jpg" alt="Profile image">
      ↑再現性のないバグに行き詰まっている筆者
    </figure>
    <p>
      おおよそ一日中家に引きこもって延々とプログラム書いたり曲作ったりしてる大学生です。
    </p>
    <p>
      JavaScriptを使ったクライアントサイドWeb開発が中心ですが、
      だいたいなんでも一人でやってるのでCakePHPとかNode.jsのサーバーサイド開発や
      必要とあらばPython, Swift, C#とちょこまか色々触ってます。
      ティラノスクリプトでノベルゲー作ったりしてますが独自拡張やりすぎて意味不明になってきたので
      最近はUnityのおべんきょうをぼちぼちはじめました。
    </p>
    <p>
      曲作りの方はDAWはLogic Pro Xを使ってます。
      好きなジャンルはどちらかというとジャズっぽいやつなんですが、わりと何でも作ります。
      お金がないので音源が買えません😥
    </p>
    <p>
      万年金欠なのでそろそろ稼ぐ算段を用意しないと人生お先真っ暗になってしまいそう。
    </p>
  </div>
</section>
